*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1280px;
    margin: auto;  
}
header{
    background: #FFF;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.connect{
    float:  right;
    list-style: none;
    margin-top: 30px;
    font-size: 56px;
    border: 10px solid #4CAF50;
    transition-duration: 0.4s;
    right: 0;
}
.connect button:hover{
    background-color:aqua;
    color:#FFF;
    /* color: #333; */
}
.logo img{
    width: 400px;
    float: left;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: 800px;
    height: 50px;
    margin: 10% 20%;
    text-align: center;
    color:blue;
}
.paragraph{
    position: absolute;
    width: 800px;
    height: 50px;
    margin: 15% 20%;
    text-align: center;
    color: red;
}
.departement{
    text-align: center;
    margin: 20% 20%;

}
.annee{
    text-align: center;
    /* width: ; */
    margin: 1% 20%;
}