<form method="post" action="{{path('matiere_delete',{'annee':annee,'departement':departement,'semestre':semestre,'module':module,'id':matiere.id})}}" onsubmit="return confirm('Voulez vous supprimer cette matiere?');">
<button>surprimer</button>
</form>