{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}



    <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="images/Syllabus_logo.png" alt="Logo de Syllabus" />
                        <h1>Syllabus</h1>    
                    </div>
                    <h2>Ingenieur(e) et pas seulement</h2>
                </div>
                
                <nav>
                    <ul>
                        <li><a href="/connection">Connection</a></li>
                        <li><a href="/inscription">Inscription</a></li>
                    </ul>
                </nav>
            </header>
            
            <div id="banniere_image">
                <div id="banniere_description">
                    Vous voulez devenir ingénieur? 
                    <a href="#" class="bouton_rouge">Savoir Plus > <img src="" alt="" /></a>
                </div>
            </div>
            <ul class="Connect">
                <a href="{{ path('connection') }}">Connexion</a>
                <a href="{{ path('inscription') }}">Inscription</a>
                
            </ul>
        </div>
    <div class="welcome-text">
            <h1>Bienvenu a l'acceuil de gestion du syllabus du STI</h1>
        </div>
            
            <section>
                <article>
                    <h1><img src="images/ico_epingle.png" alt="Catégorie voyage" class="ico_categorie" />Toutes nos formations</h1>
                    <div id="sti_section">
                        <div class="row">
                            <button id="annee">3A</button>
                            <button id="filiere">STI</button>
                            <button id="filiere">MRI</button>
                            <button id="filiere">ERE</button>
                        </div>
                          <div class="row">
                            <button id="annee">4A</button>
                            <button id="filiere">STI</button>
                            <button id="filiere">MRI</button>
                            <button id="filiere">ERE</button>
                        </div>
                          <div class="row">
                            <button id="annee">5A</button>
                            <button id="filiere">STI</button>
                            <button id="filiere">MRI</button>
                            <button id="filiere">ERE</button>
                        </div>
                        
                    </div>
                </article>
                <aside>
                    <h1>À propos de l'INSA</h1>
                    <p id="photo_syllabus"><img src="images/Syllabus_logo.png" alt="Photo de Zozor" /></p>
                    <p>Le groupe INSA est constitué de sept établissements publics français de recherche et d’enseignement supérieur. Plus grand ensemble de formation d'ingénieurs en France , ils délivrent principalement le diplôme d’ingénieur après une formation de cinq années après le baccalauréat. Leurs étudiants sont appelés Insaïens, parfois Insaliens ou Insassiens.</p>
                    <p><img src="images/facebook.png" alt="Facebook" /><img src="images/twitter.png" alt="Twitter" /><img src="images/linkedin.png" alt="Linkedin" />
                </aside>
            </section>
            
            <footer>
                <div id="contact">
                    <a href="#">Contactez-Nous!</a>
                </div>
                <div id="adresse">
                    <h1>Notre Adresse</h1>
                    <p>88 Boulevard Lahitolle, 18000 Bourges</p>
                </div>
            </footer>
        </div>
{% endblock %}