{% extends 'base.html.twig' %}

{% block title %}Connection!{% endblock %}

{% block body %}


<div id="bloc_page">
    <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="images/Syllabus_logo.png" alt="Logo de Syllabus" />
                        <h1>Syllabus</h1>    
                    </div>
                    <h2>Ingenieur(e) et pas seulement</h2>
                </div>
                
    </header>
    <div id="container">
        <form action="verification.php" method="POST">
        <h1>Connexion</h1>
        {{reponse}}
        {{form(form)}}
    </div>
            <footer>
                <div id="contact">
                    <a href="#">Contactez-Nous!</a>
                </div>
                <div id="adresse">
                    <h1>Notre Adresse</h1>
                    <p>88 Boulevard Lahitolle, 18000 Bourges</p>
                </div>
            </footer>
        
</div>
{% endblock %}
